<nav
  class="flex items-center justify-between px-2 py-2 md:p-1 md:px-3 fixed top-0 w-full shadow-md bg-white"
>
  <img class="w-30 md:w-40" src="/images/logo.png" alt="Logo" />
  <div class="navigation-btn hidden md:flex text-md justify-between w-[400px]">
    <a href="/listings">Home</a>
    <a href="/listings">Explore</a>
    <a href="vdsv">Host</a>
    <a href="vdsv">Contact</a>
    <a href="/listings/new">Add Listing</a>
  </div>
  <div class="flex items-center">
    <a
      href=""
      class="px-4 py-2 bg-[#2FA84F] text-white hover:bg-[#FF8A00] rounded-xl mx-2"
      >Book Now</a
    >
    <a class="md:hidden open-toggle"
      ><i class="fa-solid fa-bars text-xl"></i
    ></a>
    <a class="md:hidden close-toggle hidden"
      ><i class="fa-solid fa-xmark text-xl"></i
    ></a>
  </div>
</nav>
<div class="toggle hidden relative top-15">
  <div
    class="md:hidden mt-2 toggle_container flex flex-wrap justify-center z-1"
  >
    <a href="/listings">Home</a>
    <a href="">Explore</a>
    <a href="">Host</a>
    <a href="">Contact</a>
    <a href="#">Add Listing</a>
  </div>
</div>
